body {
  margin: 40px 20px 0 20px;
  background: #ecf0f1;
  color: #95a5a6;
}
h1, h3 {
  font-family: 'Open Sans', serif;
  font-size: 2em;
  margin: 0;
}

.btn {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
  background: #95a5a6;
  color: #ecf0f1;
  text-align: center;
  cursor: pointer;
}

#clock {
  text-align: center;
  font-size: 4em;
}